<div class="wrapper">
  <nav class="menu">
    <a href="#" class="monogram"><h1>Matthew Anderson</h1></a>
    <a href="#toggle-work" class="toggle-work">Work</a>
    <ul class="work">
      <li><a href="#onehub">Onehub</a></li>
      <li><a href="#carlos-lamas">Carlos Lamas</a></li>
      <li><a href="#kenny-meyers">Kenny Meyers</a></li>
      <li><a href="#chips-n-bits">Chips &amp; Bits</a></li>
      <!-- <li><a href="#matt-loves-llinz">Matt Loves Linz</a></li> -->
      <!-- <li><a href="#likewise">Likewise</a></li> -->
      <li><a href="#iowa-actors">Iowa Actors</a></li>
      <!-- <li><a href="#salesedge">SalesEdge</a></li> -->
      <!-- <li><a href="#side-projects">Side Projects</a></li> -->
    </ul>
    <a href="#" id="back-to-top" class="button">Back to Top</a>
  </nav>

  <article id="about">
    <p><strong>Matthew Anderson</strong> is an interactive designer, video game enthusiast, music lover, and Canadian expatriate living in Seattle. He enjoys seeing how design decisions translate in to user experience and creates in the browser whenever possible.</p>
  </article>

  <section id="onehub">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/onehub/home.png"></li>
        <li><img src="images/onehub/features.png"></li>
        <li><img src="images/onehub/features-previews.png"></li>
        <li><img src="images/onehub/pricing.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Onehub</h1>
      <p>As an original employee and design lead, I established the creative direction for Onehub. Being the sole designer for the majority of my time there, my work at Onehub spans all areas of design. Outside of my design responsibilities...<!-- I also participated in marketing of my time there, I oversaw the creation of multiple products. I have learned a lot about business, product design and myself.--></p>
      <a href="https://onehub.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="carlos-lamas">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/carlos-lamas/home.png"></li>
        <li><img src="images/carlos-lamas/player.png"></li>
        <li><img src="images/carlos-lamas/about.png"></li>
        <li><img src="images/carlos-lamas/home-mobile.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Carlos Lamas</h1>
      <p><%= lorem.paragraph %></p>
      <a href="http://carloslamas.tv" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="kenny-meyers">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/kenny-meyers/home.png"></li>
        <li><img src="images/kenny-meyers/home-bottom.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Kenny Meyers</h1>
      <p><%= lorem.paragraph %></p>
      <a href="http://kennymeyers.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="chips-n-bits">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/chips-n-bits/home.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Chips &amp; Bits</h1>
      <p><%= lorem.paragraph %></p>
      <a href="http://chips-n-bits.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="iowa-actors">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/iowa-actors/home.png"></li>
        <li><img src="images/iowa-actors/actor.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Iowa Actors</h1>
      <p><%= lorem.paragraph %></p>
      <a href="http://kennymeyers.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="side-projects">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/side-projects/ruby-committers.png"></li>
        <li><img src="images/side-projects/leighs-favorite-band.png"></li>
        <li><img src="images/side-projects/quippopotamus.png"></li>
      </ul>
    </div>
    <aside>
      <h1>Side Projects</h1>
      <p><%= lorem.paragraph %></p>
      <ul>
        <li>Leigh's Favorite Band</li>
        <li>Quippopotamus</li>
      </ul>
    </aside>
  </section>

  <footer><p>2012</p></footer>
</div>